<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974208168087-fachpqocoru503vvm9eu93viksttbh70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974208168087-fachpqocoru503vvm9eu93viksttbh70</string>
	<key>API_KEY</key>
	<string>AIzaSyDLz-hlY-TbX8cgKwQSbdjBq1VXSkamCvo</string>
	<key>GCM_SENDER_ID</key>
	<string>974208168087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torres.doit</string>
	<key>PROJECT_ID</key>
	<string>doit-73e74</string>
	<key>STORAGE_BUCKET</key>
	<string>doit-73e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974208168087:ios:694d6466c0c4843acf39d2</string>
</dict>
</plist>